<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>간단한 지도 표시하기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=l9t7djgnzb"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID&submodules=drawing"></script>
    </script>
</head>

<body>
    <span>확진자 날짜</span>
    <input id="dateInput" type="date">
    <button id="readBtn">조회하기</button>

    <span>나의 경로(KML파일) 업로드</span>
    <input type="file" id="userFileBtn" accept=".kml, .kmz, .gpx">

    <button id="delDateBtn">기존 경로 삭제하기 테스트</button>
    <button id="delUserBtn">기존 사용자 경로 삭제하기 테스트</button>
    <button id="moveUserBtn">내 경로로 되돌아가기</button>
    <button id="moveGpsBtn">현재 위치로</button>

    <div id="map" style="width:100%;height:400px;"></div>


    <script>
        // 주요 요소
        const map_div = document.querySelector('#map') // map div
        const userFileBtn = document.querySelector('#userFileBtn'); // 유저 업로드 파일 버튼
        const dateInput = document.querySelector('#dateInput') // 날짜 입력
        const readBtn = document.querySelector('#readBtn') // 날짜 선택 버튼
        const delDateBtn = document.querySelector('#delDateBtn') // 날짜 경로 삭제 버튼
        const delUserBtn = document.querySelector('#delUserBtn') // 유저 경로 삭제 버튼
        const moveUserBtn = document.querySelector('#moveUserBtn') // 현 위치로 되돌아가는 버튼
        const moveGpsBtn = document.querySelector('#moveGpsBtn') // gps로 돌아가는 버튼

        const geojsons = [];
        const userpaths = [];
        let zoomLevel = 10;

        // 맵 정보
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.40, 127.005399),
            zoomControl: true,
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.LARGE,
                position: naver.maps.Position.TOP_RIGHT
            },
            mapTypeControl: true,
            zoom: 10
        });

        naver.maps.Event.addListener(map, 'zoom_changed', function (zoom) {
            zoomLevel = zoom;
        });


        // 맵 라인 스타일 설정
        map.data.setStyle(function(feature) {
            let f = feature;
            let color = 'red'; // 유저의 경로 표현
            
            // console.dir(feature.getProperty('color'));
            // 확진자 경로는 반드시 아래가 있음
            if (feature.getProperty('strokeColor')) {
                // color = feature.getProperty('strokeColor');
                color = 'blue';
            }

            return {
                strokeColor: color,
                strokeWeight: 4,
                // fillColor: color
            };
        });


        ////////// 함수 구현 영역 시작 ////////////////////

        // 확진자 json 가져오기
        function loadPersonJson(day,json_list){
            delDatePath()// 기존 확진자 경로 삭제
            console.log(json_list);
            json_list.forEach(num => {
                // let url = `/static/data/${day}/${num}.json` 
                let url = `/static/data/${day}/${num}` 
                $.ajax({
                    url : url,
                    dataType: 'json',
                    error : function(error) {
                        // console.log("Error!");
                    },
                    success : function(geojson) {
                        // console.log("success!");
                        // geojson 레이어 그리기
                        startDataLayer(geojson)
                    },
                    complete : function() {
                        // console.log("complete!");    
                    }
                })
            })
        }

        // 날짜에 맞는 list.json 가져오기
        function checkJsonList(day){
            const url = `/static/data/${day}/list.json` 
            console.log(url);

            // 반복
            fetch(url).then( async res => {
                json_list = await res.json()
                return json_list
            }).then( json_list => {
                // json_list.forEach(num=>{
                //     // console.log(num);
                //     // json 불러오기
                //     loadPersonJson(day,num);
                // })
                
                // json 한번에 불러오기
                loadPersonJson(day,json_list)
            })
        }

       
        // 선택 날짜 확인
        function checkDate(event){
            zoomLevel = map.getZoom(); // 현재 줌 레벨 확인

            const pattern = /^(19|20)\d{2}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[0-1])$/;
            const day = dateInput.value;
            if (!pattern.test(day)){
                // console.log("날짜 형식이 맞지 않습니다.");
                return;
            }

            // 날짜에 맞는 json 리스트 확인하기
            checkJsonList(day);

        }

        
        // geoJSON으로 레이어 그리기
        function startDataLayer(geojson) {
           
            map.data.addGeoJson(geojson);


            geojsons.push(geojson); // 관리 목적 추가

            // map.data.setStyle(function(feature) {
            //     var color = 'red';

            //     if (feature.getProperty('isColorful')) {
            //         color = feature.getProperty('color');
            //     }

            //     return {
            //         // fillColor: color,
            //         strokeColor: color,
            //         strokeWeight: 5,
            //         icon: null
            //     };
            // });

            // // 클릭 이벤트 부여
            // map.data.addListener('click', function(e) {
            //     e.feature.setProperty('isColorful', true);
            // });

            // // 더블 클릭 이벤트
            // map.data.addListener('dblclick', function(e) {
            //     var bounds = e.feature.getBounds();

            //     if (bounds) {
            //         map.panToBounds(bounds);
            //     }
            // });

            // // 마우스 over 이벤트
            // map.data.addListener('mouseover', function(e) {
            //     map.data.overrideStyle(e.feature, {
            //         strokeWeight: 8,
            //         icon: HOME_PATH +'/img/example/pin_spot.png'
            //     });
            // });

            // // 마우스 아웃 이벤트
            // map.data.addListener('mouseout', function(e) {
            //     map.data.revertStyle();
            // });
        }


        // 파일 정보를 불러와서 layer그리기
        function drawKmlLayer(file){
            const reader = new FileReader();
            reader.readAsText(file);
            reader.onloadend = () => {
                // console.log(reader.result);
                const oParser = new DOMParser();
                userKml = oParser.parseFromString(reader.result, "text/xml");
                // console.log(userKml);

                // set lineStyle
                // map.data.setStyle(function(feature){
                //     const color = 'blue';
                //     if (feature.getProperty('color')) {
                //         color = feature.getProperty('color');
                //     }
                //     return {
                //         strokeWeight : 5,
                //         strokeColor: color,
                //         // fillColor: color
                //     };
                // });

                // 기존 map feature 저장
                const base_features = Object.assign([],map.data.getAllFeature())

                // draw line
                map.data.addKml(userKml);

                // 사용자 경로 정보에 추가
                const new_features = Object.assign([],map.data.getAllFeature()) // 새로운 feature
                let count =0;
                for (n_index in new_features){
                    let chk = false;
                    for (b_index in base_features){
                        // console.log(new_features[n_index].id , base_features[b_index].id)
                        // console.log(new_features[n_index].id==base_features[b_index].id)
                        if (new_features[n_index].id==base_features[b_index].id){
                            chk = true;
                            break;
                        }
                    }
                    if (!chk){
                        userpaths.push(new_features[n_index]);
                    }
                }

                moveUserPath() // 내 경로로 이동
            };
        }


        // 업로드한 kml 파일 지도에 그리기
        function drawUploadKmlLayer(event) {
            const file = event.target.files[0];

            drawKmlLayer(file) // 파일 정보 넘겨서 그리기
        }
        

        // 날짜별 경로 삭제
        function delDatePath(){
            geojsons.forEach(geojson=>{
                map.data.removeGeoJson(geojson)
            })

            geojsons.slice(0,geojsons.length); // 기존 경로 비우기
        }

        // 사용자 경로 삭제
        function delUserPath(){
            userpaths.forEach(userpath=>{
                map.data.removeFeature(userpath)
            })

            // userpaths = [];
            userpaths.splice(0,userpaths.length);
        }
        

        // 나의 경로로 되돌아가기
        function moveUserPath(){

            if (userpaths){
                map.setZoom(zoomLevel);
                map.panTo(userpaths[userpaths.length-1].bounds._max)
            }
        }

        // 날짜 제한
        function filterDate(){
            dateInput.setAttribute('min',"2020-08-01")
            dateInput.setAttribute('max',"2020-08-14")
            // min="1977-01-01" max="2020-12-31"
        }

        // gps 현위치로 이동 함수
        function getLocation() {
            if (navigator.geolocation) { // GPS를 지원하면
                navigator.geolocation.getCurrentPosition(({ coords: { latitude, longitude } }) => {
                    // console.log(latitude, longitude);
                    
                    map.panTo(naver.maps.LatLng(latitude, longitude)) // 현재 위치로 이동
                })
            } else {
                alert('GPS를 지원하지 않습니다');
            }
        }

        // 초기화
        function init(){
            // 업로드 버튼에 이벤트 추가
            userFileBtn.addEventListener('change', drawUploadKmlLayer)

            // 날짜 버튼 이벤트 추가
            readBtn.addEventListener('click', checkDate);

            // 삭제 이벤트 테스트
            delDateBtn.addEventListener('click', delDatePath)
            delUserBtn.addEventListener('click', delUserPath)
            moveUserBtn.addEventListener('click', moveUserPath)
            moveGpsBtn.addEventListener('click', getLocation)

            // 날짜 제한
            filterDate();
            
        }

        

        init()
    </script>
</body>

</html>