<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>간단한 지도 표시하기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=l9t7djgnzb"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID&submodules=drawing"></script>
    </script>
</head>

<body>
    <span>확진자 날짜</span>
    <input id="dateInput" type="date">
    <button id="readBtn">조회하기</button>

    <span>나의 경로(KML파일) 업로드</span>
    <input type="file" id="userFileBtn" accept=".kml, .kmz, .gpx">



    <div id="map" style="width:100%;height:400px;"></div>

    <!-- side box -->
    <!-- <div id="sidebar" style="height: 760px; width: 250px; border: 1px dashed black;">
        <table id="sidebarTABLE">
            <tbody id="sidebarTBODY">
                <tr>
                    <td><input type="checkbox" id="userAdded1"></td>
                    <td>kml_test.kml</td>
                </tr>
                <tr>
                    <td><input type="checkbox" id="userAdded2"></td>
                    <td>kml_test - 복사본.kml</td>
                </tr>
            </tbody>
        </table>
    </div> -->


    <script>
        // 주요 요소
        const map_div = document.querySelector('#map') // map div
        const userFileBtn = document.querySelector('#userFileBtn'); // 유저 업로드 파일 버튼
        const dateInput = document.querySelector('#dateInput') // 날짜 입력
        const readBtn = document.querySelector('#readBtn') // 날짜 선택 버튼

        // 맵 정보
        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.40, 127.005399),
            zoomControl: true,
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.LARGE,
                position: naver.maps.Position.TOP_RIGHT
            },
            mapTypeControl: true,
            zoom: 13
        });


        ////////// 함수 구현 영역 시작 ////////////////////

       
        // 선택 날짜 확인
        function checkDate(event){
            const pattern = /^(19|20)\d{2}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[0-1])$/;
            day = dateInput.value;
            if (!pattern.test(day)){
                console.log("날짜 형식이 맞지 않습니다.");
                return;
            }
        }

        
        // geoJSON으로 레이어 그리기
        function startDataLayer(geojson) {
            loadJson = geojson;
            map.data.addGeoJson(geojson);

            map.data.setStyle(function(feature) {
                var color = 'red';

                if (feature.getProperty('isColorful')) {
                    color = feature.getProperty('color');
                }

                return {
                    // fillColor: color,
                    strokeColor: color,
                    strokeWeight: 5,
                    icon: null
                };
            });

            // 클릭 이벤트 부여
            map.data.addListener('click', function(e) {
                e.feature.setProperty('isColorful', true);
            });

            // 더블 클릭 이벤트
            map.data.addListener('dblclick', function(e) {
                var bounds = e.feature.getBounds();

                if (bounds) {
                    map.panToBounds(bounds);
                }
            });

            // 마우스 over 이벤트
            map.data.addListener('mouseover', function(e) {
                map.data.overrideStyle(e.feature, {
                    strokeWeight: 8,
                    icon: HOME_PATH +'/img/example/pin_spot.png'
                });
            });

            // 마우스 아웃 이벤트
            map.data.addListener('mouseout', function(e) {
                map.data.revertStyle();
            });
        }

       
        // 저장된 geoJSON가져오기
        function loadGeoJSON(){
            $.ajax({
                url: "{{url_for('static',filename='data/1.json')}}",
                dataType: 'json',
                success: startDataLayer,
                error: console.log("error"),
            });
        }


        // 파일 정보를 불러와서 layer그리기
        function drawKmlLayer(file){
            const reader = new FileReader();
            reader.readAsText(file);
            reader.onloadend = () => {
                // console.log(reader.result);
                const oParser = new DOMParser();
                userKml = oParser.parseFromString(reader.result, "text/xml");
                console.log(userKml);

                // set lineStyle
                map.data.setStyle((feature) => {
                    const color = 'blue';
                    if (feature.getProperty('color')) {
                        color = feature.getProperty('color');
                    }
                    return {
                        strokeWeight : 5,
                        strokeColor: color,
                        // fillColor: color
                    };
                });

                // draw line
                map.data.addKml(userKml);
            };
        }


        // 업로드한 kml 파일 지도에 그리기
        function drawUploadKmlLayer(event) {
            const file = event.target.files[0];

            drawKmlLayer(file) // 파일 정보 넘겨서 그리기
        }
        

        // 초기화
        function init(){
            // 업로드 버튼에 이벤트 추가
            userFileBtn.addEventListener('change', drawUploadKmlLayer)

            // 날짜 버튼 이벤트 추가
            readBtn.addEventListener('click', checkDate);

            // 가져오기
        }

        init()
    </script>
</body>

</html>