<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>간단한 지도 표시하기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=l9t7djgnzb"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID&submodules=drawing"></script>
    </script>
</head>

<body>

    <!-- 저장 버튼 -->
    <span>확진자 번호</span>
    <input id="personNo" type="text">
    <span>확진자 날짜</span>
    <input id="personDate" type="date">
    <button id="saveBtn">저장하기</button>

    <!-- 지도 div -->
    <div id="map" style="width:100%;height:90vh;"></div>

    <script>
        var map = new naver.maps.Map('map', {
            zoomControl: true,
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.LARGE,
                position: naver.maps.Position.TOP_RIGHT
            },
            mapTypeControl: true,
            zoom: 15
        });


        var drawingManager;
        naver.maps.Event.once(map, 'init_stylemap', function() {
            drawingManager = new naver.maps.drawing.DrawingManager({map: map});
            // drawingManager.addDrawing(polygon, naver.maps.drawing.DrawingMode.POLYGON); // 폴리곤 그리기 예제
        });
  
        var geojson;

        $("#saveBtn").on("click", function(e) {
            e.preventDefault();

            geojson = drawingManager.toGeoJson(); // 현재 그리기를 toGeoJson 객체로 만들기

            var data = JSON.stringify(geojson);
            $.ajax({
                type:'POST',
                url : '/receiveJson',
                contentType: "application/json",
                data : data,
                error : function(error) {
                    alert("Error!");
                },
                success : function(data) {
                    alert("success!");
                },
                complete : function() {
                    alert("complete!");    
                }
            })
        });

    </script>
</body>

</html>