<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>간단한 지도 표시하기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=l9t7djgnzb"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=YOUR_CLIENT_ID&submodules=drawing"></script>

    <!-- kakao map -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=96f98198823e1b22e7b29bb2e9afc824&libraries=services"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- style.css -->
    <link rel="stylesheet" href="{{url_for('static',filename='create.css')}}">

    <style>


    </style>
</head>

<body>
    <section class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">확진자 번호</th>
                <th scope="col">동선 날짜</th>
                <th scope="col">저장</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="align-middle" scope="row">확진자 경로 입력</th>
                <td class="align-middle"><input id="personNo" type="number"></td>
                <td class="align-middle"><input id="personDate" type="date"></td>
                <td class="align-middle"><button id="saveBtn" class="btn btn-danger">저장하기</button></td>
              </tr>
            </tbody>
          </table>
    </section>
 
    <!-- 지도 div -->
    <section class="container-fluid">
        <div id="map"></div>
        <div id="tip">
            <ul>
                <li>동선 우클릭 : 삭제 가능</li>
                <li>동선 좌클릭 : 이동 및 수정 가능</li>
            </ul>
        </div>

    </section>
    
    <section class="container" id="searchBox">
        <div class="row">
            <div class="col-4 text-center">
                <input id="textSearch" type="text"placeholder="검색 장소 입력">
                <button id="btnSearch" class="btn btn-success">검색</button>
            </div>
            <div class="col-8">
                <!-- 이동 목록 지도 -->
                <div id="areaResult">
            
                </div>
            </div>
        </div>
    </section>


    <script>

        const saveBtn = document.querySelector('#saveBtn'); // 확진자 경로 저장 버튼
        const personNo = document.querySelector('#personNo'); // 확진자 번호
        const personDate = document.querySelector('#personDate'); // 확진자 해당 날짜 경로
        const textSearch = document.querySelector('#textSearch'); // 지역검색 키워드
        const btnSearch = document.querySelector('#btnSearch'); // 검색버튼
        const areaResult = document.querySelector('#areaResult'); // 지역 검색 결과
        const ps = new kakao.maps.services.Places();  // 장소 검색 객체를 생성합니다

        var map = new naver.maps.Map('map', {
            zoomControl: true,
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.LARGE,
                position: naver.maps.Position.TOP_RIGHT
            },
            mapTypeControl: true,
            zoom: 13
        });

        // 그리기 모드 객체
        var drawingManager;
    
        naver.maps.Event.once(map, 'init_stylemap', function() {
            drawingManager = new naver.maps.drawing.DrawingManager({
                map: map,
                drawingControl: [
                    naver.maps.drawing.DrawingMode.ARROWLINE,
                    naver.maps.drawing.DrawingMode.ELLIPSE,
                    naver.maps.drawing.DrawingMode.MARKER,
                ],
                // 오버레이의 스타일, 정의가 없는 경우 각 오버레이의 기본값을 사용
                ellipseOptions: {
                    strokeWeight: 4,
                    strokeColor: '#ff0000'
                },
                arrowlineOptions: { // startIcon || endIcon 옵션이 없으면 endIcon 을 BLOCK_OPEN 으로 설정합니다.
                    strokeWeight: 4,
                    strokeColor: '#ff0000'
                }
            });
        });


        // 선택 날짜 확인
        function checkDate(){
            const pattern = /^(19|20)\d{2}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[0-1])$/;
            const day = personDate.value;
            console.log(day);
            if (!pattern.test(day)){
                alert("날짜 형식이 맞지 않습니다.");
                return;
            }
            return day;
        }

        // 확진자 경로 저장
        function savePath(event){
            geojson = drawingManager.toGeoJson(); // 현재 그리기를 toGeoJson 객체로 만들기

            let number = personNo.value;
            
            if (number==null){
                alert("확진자 번호를 입력하세요");
                return;
            }

            let data = {'number':number, 'day': checkDate(), 'geojson': geojson};
            data = JSON.stringify(data);
            $.ajax({
                type:'POST',
                url : '/receiveJson',
                contentType: "application/json",
                data : data,
                error : function(error) {
                    console.log("Error!");
                    alert("저장 실패했습니다");
                },
                success : function(data) {
                    console.log("success!");
                    alert("저장되었습니다.")
                },
                complete : function() {
                    console.log("complete!");    
                }
            })
        }


        // 지역대로 지도 이동
        function moveTo(event){
            const [lng, lat] = [event.target.getAttribute('x'), event.target.getAttribute('y')];
            map.panTo(naver.maps.LatLng(lat, lng)) // 이동
        }

        // 지역 검색 완료 시 콜백 함수
        function placesSearchCB (response, status, pagination) {
            // console.dir(response);
            if (status === kakao.maps.services.Status.OK) {
                areaResult.innerHTML="";
                
                const ul = document.createElement('ul');
                // 장소 선택 요소 만들기
                response.forEach(element =>{
                    const {id, place_name, address_name, x, y} = element;
                    const li = document.createElement('li');
                    li.classList.add('result_area')

                    const a = document.createElement("a");
                    a.setAttribute('localId',`${id}`);
                    a.setAttribute('x', x);
                    a.setAttribute('y', y);
                    a.innerHTML=`${place_name} : ${address_name}`
                    a.addEventListener('click', moveTo);

                    li.appendChild(a);
                    ul.appendChild(li); 
                });

                areaResult.append(ul);
            } 
        }

        // 지역 검색 함수
        function searchArea(){
            // console.log(">>> searchArea : ", textSearch.value);
            let keyword = textSearch.value;
    
            // 유효성 검사
            if (!keyword.replace(/^\s+|\s+$/g, '')) {
                alert('검색 지역을 입력해주세요!');
                return false;
            }
    
            // 키워드로 장소를 검색합니다
            ps.keywordSearch(textSearch.value, placesSearchCB); 
        };


        // 초기화
        function init(){
            // 검색 버튼 이벤트 추가        
            btnSearch.addEventListener('click', searchArea);
            saveBtn.addEventListener('click', savePath);

            document.querySelector('#textSearch').addEventListener('keypress', function (e) {
                if (e.key === 'Enter') {
                    searchArea()
                }
            });
        }

        init();

    </script>
</body>

</html>